<div class="center jumbotron">
	<h1>QUORA</h1>
	<h2>question and answers</h2>
	<%= link_to "sign up", "", class: "btn btn-lg btn-success" %>
</div>

<div class="row">
	<div class="col-lg-4">
		<h3 class="midrow">
			view questions as guest user
		</h3>
		<h2 class="left">browse questions as guest</h2>
		<p><%= link_to "browse question listings", questions_path, class: "btn btn-warning btn-small" %></p>
</div>

<div class="row">
	<div class="col-lg-4">
		<h3 class="midrow">
			view questions as guest user
		</h3>
		<h2 class="left">browse questions as guest</h2>
		<p><%= link_to "browse question listings", "", class: "btn btn-warning btn-small" %></p>
</div>

<div class="row">
	<div class="col-lg-4">
		<h3 class="midrow">
			view questions as guest user
		</h3>
		<h2 class="left">browse questions as guest</h2>
		<p><%= link_to "browse question listings", "", class: "btn btn-warning btn-small" %></p>
</div>
